<h2>Add your favorites genres</h2>

<div class="form-group">

    <form action="/profile/edit" method="POST" id="form-container">
        <input type="checkbox" name="rock">Rock
        <input type="checkbox" name="indie">Lounge
        <input type="checkbox" name="classical">Classical
        <input type="checkbox" name="electronic">Electronic
        <input type="checkbox" name="jazz">Jazz
        <input type="checkbox" name="pop">Pop
        <input type="checkbox" name="hiphop">Hiphop
        <input type="checkbox" name="relaxation">Relaxation
        <input type="checkbox" name="songwriter">Songwriter
        <input type="checkbox" name="world">World
        <input type="checkbox" name="metal">Metal
        <input type="checkbox" name="soundtrack">Soundtrack

        <input type="submit" value="Save">
    </form>
</div>

<br><br>

<a href="/profile">Back to Your Profile</a>