<h2>Add your favorites genres</h2>

<div class="form-group">

    <form action="/profile/edit" method="POST" id="form-container">
        <input type="checkbox" name="rock">Rock
        <input type="checkbox" name="indie">Lounge
        <input type="submit" value="Save">
    </form>
</div>

<br><br>

<a href="/profile">Back to Your Profile</a>

{{!-- meter resto de generos "classical", "electronic", "jazz", "pop", "hiphop", "relaxation", "songwriter", "world", "metal",
"soundtrack"]--}}