<h2 class="h2-genre">Añade tus géneros favoritos</h2>
<form action="/profile/edit" method="POST" id="form-container">

    <div class="row form-group d-flex justify-content-center">



        <div class="inputList col-md-4">
            <label><input type="checkbox" name="Classical"><span class="genre-form">Classical</span></label>
            <label><input type="checkbox" name="Jazz"><span class="genre-form">Jazz</span></label>
            <label><input type="checkbox" name="Pop"><span class="genre-form">Pop</span></label>
            <label><input type="checkbox" name="Songwriter"><span class="genre-form">Songwriter</span></label>

        </div>
        <div class="inputList col-md-4">

            <label><input type="checkbox" name="Electronic"><span class="genre-form">Electronic</span></label>
            <label><input type="checkbox" name="Indie"><span class="genre-form">Lounge </span></label>
            <label><input type="checkbox" name="Relaxation"><span class="genre-form">Relaxation</span></label>
            <label><input type="checkbox" name="Soundtrack"><span class="genre-form">Soundtrack</span></label>

        </div>
        <div class="inputList col-md-4">
            <label><input type="checkbox" name="Hiphop"><span class="genre-form">Hiphop</span></label>
            <label><input type="checkbox" name="Metal"><span class="genre-form">Metal</span></label>
            <label><input type="checkbox" name="Rock"><span class="genre-form">Rock</span></label>
            <label><input type="checkbox" name="World"><span class="genre-form">World</span></label>

        </div>

    </div>
    <div class="row mt-3">
        <input class="button-toss button-genre button-block" type="submit" value="Save">
    </div>
</form>


<br><br>

<a href="/profile">Volver a Profile</a>