<div class="index">
    <img src="/images/logoIndex.png" alt="logoIndex">
</div>

<div class="container">
    <div class="row d-flex text-align-between justify-content-between">
        <div class="col-4 first-text">
            <div class="first-background">
                <p class="first">TossMussic es el mejor lugar para descubrir música independiente y listas de
                    reproducción.
                    Obtenga una escucha ilimitada y sin publicidad.</p>
            </div>
        </div>
        <div class="col-4 second-text">
            <div class="second-background">
                <p class="second">Te permite escuchar más de 150 millones de pistas sin anuncios y con la
                    posibilidad, de no sólo reproducirlas, sino también de descargarlas</p>
            </div>
        </div>
        <div class="col-4 third-text">
            <div class="third-background">
                <p class="third">Sigue tus pistas favoritas, explora tus playlists y la música de forma
                    independiente.</p>
            </div>
        </div>
    </div>
</div>
<a class="button-toss button-index" href="/auth/signup">Descúbrenos</a>