<h2 class="title-page">BUSCA TU MÚSICA</h2>
<div class="toss-form">


  <form action="/" method="POST" id="form-container">
    <div>
      <label for="searchMusic"></label>
      <input type="text" name="search" class="form-control" id="searchMusic" placeholder="Search your music">

      <br>

    <label for="searchGenre"></label>
    <select name="searchGenre" class="form-control" id="searchGenre" placeholder="Search the genre">
      <option value="Search genre">Search genre</option>
      {{#each genres}}
      <option value={{this}}>{{this}}</option>
      {{/each}}
    </select>
</div>
<button class="button-toss searchAlbum-buttom" type="submit">Buscar</button>
</form>
</div>
<div class="container">
  <div class="row">

    {{#if result}}
    {{#each result}}
    {{> albumspartial this}}
    {{/each}}
    {{/if}}
  </div>
</div>