<h2>CREA TUS PLAYLISTS</h2>

<div class="form-group">

  <form action="/playlist" method="POST" id="form-container">
    <label for="playlistName">Nombre de la playlist</label>
    <input type="text" name="name" class="form-control" id="playlistName">
    <br>

    <label for="genre">Género musical</label>
    <input type="text" name="genre" class="form-control" id="genre">
</div>

<br><br>

<button>Añadir</button>
<br><br>
<a href="/profile">Back to Your Profile</a>
</form>