body {
  padding: 40px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navPrincipal{
  border-bottom: 3px black solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  
}

.card{
  width: 250px;
  margin-bottom: 1em;
}

.logoPrinc{
  width: 50px;
}

.navbar{
  margin:-50px -30px 50px;
}

.playlist-form{

  margin:0 auto;
  min-width: 160px;
  max-width: 350px;
}

h1,h2{
  margin: 60px 0;
}

button {
  margin: 20px auto;
  width: 30%;
  padding: 10px 10px;
  font-size: 20px;
  text-align: center;
  color:white;
  border-radius: 5px;
  background-color: deeppink;
}

.button-playlist{
  background-color: deeppink;
}