<h2>BUSCA TU MÚSICA</h2>

<div class="form-group">

  <form action="/" method="POST" id="form-container">
    <label for="searchAlbum"></label>
    <input type="text" name="search" class="form-control" id="searchAlbum" placeholder="Search...">
    <br>
</div>

<br><br>

<button>Buscar</button>
<br><br>
<a href="/profile">Back to Your Profile</a>
</form>