<div class="playlist-form">
<h2>CREA TUS PLAYLISTS</h2>
<div class="form-group">

  <form action="/playlist" method="POST" id="form-container">
    <label for="playlistName">Nombre de la playlist</label>
    <input type="text" name="name" class="form-control" id="playlistName">
    <br>

    <label for="genre">Género musical</label>
    <input type="text" name="genre" class="form-control" id="genre">
</div>
<button class="button-playlist">Añadir</button>
</div>
<br><br>

<br><br>
<a href="/profile">Volver a Profile</a>
</form>